html {
  height: 100%;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: auto;
  box-sizing: border-box;
}

header {
  padding: 115px 16px 32px 16px;
  box-sizing: border-box;
  background-color: #00bcd4;
  color: white;
}

main, header > h1 {
  width: 760px;
  margin: 0 auto;
}

main {
  padding: 24px 0;
}

pre {
  white-space: pre-wrap; 
}
